In [1]:
#import pandas module for creating dataframe
import pandas as pd

In [2]:
#read CSV into DataFrame
data = pd.read_csv("SampleReview.csv")

In [3]:
data

                                              Review
0                                I have a brown cat.
1                         My friend has a White cat.
2                        my brother has a white car.
3                        The apple has turned brown.
4                    My sister eats apple every day.
5                 My aunt makes delicious Apple pie.
6  The 3 fluffy dogs AND 2 brown hats are my favo...

In [4]:
#import string module for string manipulation
import string

In [5]:
#defining the function to remove punctuations in the documents
def remove_punctuation(text):
    #punctuationfree = "".join([i for i in text if i not in string.punctuation])
    #return punctuationfree
    # Initialize an empty string to store the result
    punctuation_free = ""
    
    # Iterate over each character in the text
    for i in text:
        # Check if the character is not in the string.punctuation set
        if i not in string.punctuation:
            # If not, add the character to the result string
            punctuation_free += i
    
    return punctuation_free

In [6]:
data['clean_punctuation']= data['Review'].apply(remove_punctuation)

In [7]:
data

,Review,clean_punctuation
0,I have a brown cat.,I have a brown cat
1,My friend has a White cat.,My friend has a White cat
2,my brother has a white car.,my brother has a white car
3,The apple has turned brown.,The apple has turned brown
4,My sister eats apple every day.,My sister eats apple every day
5,My aunt makes delicious Apple pie.,My aunt makes delicious Apple pie
6,The 3 fluffy dogs AND 2 brown hats are my favo...,The 3 fluffy dogs AND 2 brown hats are my favo...

In [8]:
#to standardize the cases in the documents into lower case
data['clean_lower']= data['clean_punctuation'].str.lower()

In [9]:
data

,Review,clean_punctuation,clean_lower
0,I have a brown cat.,I have a brown cat,i have a brown cat
1,My friend has a White cat.,My friend has a White cat,my friend has a white cat
2,my brother has a white car.,my brother has a white car,my brother has a white car
3,The apple has turned brown.,The apple has turned brown,the apple has turned brown
4,My sister eats apple every day.,My sister eats apple every day,my sister eats apple every day
5,My aunt makes delicious Apple pie.,My aunt makes delicious Apple pie,my aunt makes delicious apple pie
6,The 3 fluffy dogs AND 2 brown hats are my favo...,The 3 fluffy dogs AND 2 brown hats are my favo...,the 3 fluffy dogs and 2 brown hats are my favo...

In [10]:
import re

In [11]:
#function to remove digit (\d) or hypens (-) from the documents with an empty string ''
def remove_numbers(text):
    return re.sub("[\d-]",'',text)

In [12]:
data['clean_number'] = data['clean_lower'].apply(remove_numbers)

In [13]:
data

,Review,clean_punctuation,clean_lower,clean_number
0,I have a brown cat.,I have a brown cat,i have a brown cat,i have a brown cat
1,My friend has a White cat.,My friend has a White cat,my friend has a white cat,my friend has a white cat
2,my brother has a white car.,my brother has a white car,my brother has a white car,my brother has a white car
3,The apple has turned brown.,The apple has turned brown,the apple has turned brown,the apple has turned brown
4,My sister eats apple every day.,My sister eats apple every day,my sister eats apple every day,my sister eats apple every day
5,My aunt makes delicious Apple pie.,My aunt makes delicious Apple pie,my aunt makes delicious apple pie,my aunt makes delicious apple pie
6,The 3 fluffy dogs AND 2 brown hats are my favo...,The 3 fluffy dogs AND 2 brown hats are my favo...,the 3 fluffy dogs and 2 brown hats are my favo...,the fluffy dogs and brown hats are my favorites